*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: #f2f2f2;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100vh;
}

h1{
    margin-bottom: 20px;
    text-align: center;
}

.container{
    width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.task-input{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input{
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.task-input button{
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

li{
    list-style: none;
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btns{
    display: flex;
    gap: 5px;
}

.edit-btn{
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}